#div
{
    width: 200px;
    height: 200px;
    background-color :red;
}
h1{
    text-align: center;
}
span{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
body > div{
    width: 50px;;
    height: 25px
}

#si{
    background-color: crimson;
    position: absolute;
    left: 25%;
}

#no{
    background-color: darkolivegreen;
    position: absolute;
    left: 75%;
}

#felicidades{
    display: none;
}
